<div id="map" style="width:300px;height:300px;"></div>

<script>
  window.mapData = {"latitude": {{ include.latitude }},"longitude": {{ include.longitude }}, "zoom": {{ include.zoom}}};
	var records;
	function getcsv(){
		$.ajax({url :'https://cors.io/?https://raw.githubusercontent.com/ateamhasnoname03/data_science/master/Data%20Integration%20and%20Analytics/output/Task_8_result.csv',
			async: false,

			success: function(result){
				lines = result.split("\n") // split the values by the lines

				// convert the records to json values
				records = lines.filter((s)=> s.length > 0).map((record) =>{
					details = record.match(/(".*?"|[^",]+)(?=\s*,|\s*$)/g)
					details = details || []
					return {business_name:details[0],address:details[1],inspection_date:details[2],years_alive:details[3],latitude:details[4],longitude:details[5]}
				})

				headers = records[0]
				records.shift()
			}
		})
	}

  function initMap() {
		getcsv();
		console.log(records);
    var myOptions = {
      scrollwheel: true,
      draggable: true,
      panControl: true,
      disableDefaultUI: false,
      zoom: window.mapData.zoom,
      maxZoom: window.mapData.zoom,
      minZoom: window.mapData.zoom,
      center: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);

    var marker = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude)
    });

    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(myOptions.center);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>